html {
  height: 100%;
}

body {
  font-family: 'Ubuntu Condensed', sans-serif;
  background: url(https://images.pexels.com/photos/917494/pexels-photo-917494.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  background-color: #E1DEE3;
}

.navbar {
  background-color: #C0DFA1;
}

h3, h5 {
  text-align: center;
}

div.error {
  text-align: center;
  padding: 250px 0 ;
}

.container {
  padding: 0;
  background-color: #eee;
}

.page-info {
  background-color: #eee;
 
}

a {
  color: white;
}

i {
  padding-right: 10px;
}

.single-post {
  margin-bottom: 5px;
}

.card-header {
  background-color: #546A7B;
}

.card-body {
  background-color: #9EA3B0;
}

