<br><br>
<h3>Glad you could make it back!</h3>
<br>
<div class="container">
  <form action="/login" method="post">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Enter username" name="username">
      <small id="usernameHelp" class="form-text text-muted">Don't worry it's secure.</small>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="********" name="password">
    </div>
    <button type="submit" class="btn btn-primary" value="submit">Submit</button>
  </form>
</div>