<br><br>
<div class="page-info">
  <h3>Hello <%= @user.username %>!</h3>
  <br>
  <h5>Here are your currently planned trips</h5>
  <br>
  <br>
  <% @user.plans.each do |plan| %>
    <ul>
      <li><a href="/plans/<%= plan.id %>"><%= plan.location %></a></li>
    </ul>
  <% end %>
</div>

