<div class="jumbotron">
  <h1 class="display-4">Welcome to Summer InTent!!</h1>
  <p class="lead">Here you can plan your summer trips, share them with your friends, and seeing how active others are this summer!</p>
  <hr class="my-4">
  <p>If you are already a member click sign in, otherwise sign up already! </p>
  <a class="btn btn-primary btn-lg" href="/login" role="button">Sign In</a>
  <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up</a>
</div>