<br><br>
<h3>Look at all these plans!</h3>
<br>
<% @plans.each do |plan| %>
  <div class="single-post">
    <div class="card">
      <div class="card-header">
        <i class="fas fa-map-signs"></i>
      </div>
      <div class="card-body">
        <div class="post-body">
          <p>Going to <%= plan.location %></p>
          <p>With <%= plan.party_number %> people</p>
          <p>I'll be staying in a <%= plan.shelter_type %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
  