<br><br>
<h3>Lets plan a much needed trip to somewhere peaceful!</h3>
<br>
<form action="/plans"  method="post">
  <div class="form-group">
    <label for="location">Where are you headed to:</label>
    <input type="text" class="form-control" id="location" placeholder="Destination" name="location">
  </div>
  <div class="form-group">
    <label for="party_number">How many people will be joining you:</label>
    <input type="number" class="form-control" id="party_number" placeholder="#" name="party_number">
  </div>
  <div class="form-group">
    <label for="shelter_type">What will you be staying in:</label>
    <input type="text" class="form-control" id="shelter_type" placeholder="example: tent, trailer, cabin..." name="shelter_type">
  </div>
  <button type="submit" value="submit" class="btn btn-primary">Create Trip</button>
</form>
